@import "@/styles/settings/_settings";

.postGrid {
  
  & > ul {

    display: grid;
    grid-gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: $breakpoint-large) {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }

}

.postGridItem {
  margin-bottom: 1em;
}